* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --footer-height:50px;
    --header-height:90px;
}

body {
    background-color: #040110;
    color: #dddddd;
    min-height: 100vh;
}

header {
    height: var(--header-height);
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: 0px 0px 10px 0px rgba(44, 44, 44, 0.75);
    border-radius: 0px 0px 7px 7px;
    background-color: rgb(2, 10, 24);
    opacity: 80%;
}


@media (max-width: 768px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    img.logo {
        max-width: 30vw;
        padding: 10px;
        margin: auto;
    }

    header nav {
        overflow-x: auto;
        width: 100%;
        margin: auto;
    }

    header nav ul {
        display: flex;
        flex-direction: row;
        gap: 10px;
        padding: 10px;
    }

    header nav ul li a {
        font-size: 15px;
        padding: 10px;
    }

    header nav ul li a:hover {
        padding: 10px;
    }

}

header>a {
    height: 70%;
}

header a img {
    max-height: 100%;
    border-radius: 10px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 80px;
}

header nav ul li a {
    font-weight: bold;
    color: white;
    text-decoration: none;
    font-size: 17px;
    padding: 12px;
}

header nav ul li a:hover {
    color: #ffffff;
    background-color: rgb(59, 59, 234);
    padding: 12px;
    border-radius: 10%;
}


.pd-top {
    padding-top: 120px;
}

footer{
    text-align: center;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    margin-top: auto;
    background-color: #222222;
}