* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #040110;
    color: #dddddd;
}


header {
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    box-shadow: inset 0px -2px 5px #555555;
    border-radius: 0px 0px 7px 7px;
    background-color: #222222;
}

header>a {
    height: 70%;
}

header a img {
    max-height: 100%;
    border-radius: 10px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    gap: 80px;
}

header nav ul li a {
    font-weight: bold;
    color: inherit;
    text-decoration: none;
    font-size: 17px;
}

header nav ul li a:hover {
    color: #bbbbbb;
}


.pd-top {
    padding-top: 120px;
}

footer{
    text-align: center;
    color: white;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    background-color: #222222;
}