main.home {
    padding-top: 120px;
}

.home .content {
    margin: 100px 0px 0px 200px;
}

.content h1 {
    font-size: 75px;
}

.content p {
    font-size: 30px;
}

.content .buttons {
    margin-top: 50px;
    display: flex;
    gap: 30px;
}

.content .buttons a {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    padding: 15px 50px;
    background-color: #4c1a4c;
    border-radius: 7px;
    transition: 0.3s;
}

.content .buttons a:hover {
    background-color: #652065;
}