.team {
  text-align: center;
  color: #ddb7b7; /* Text color in white */
  padding: 20px;
  background-color: #040110;
  min-height: calc( 100vh - var(--footer-height) - var(--header-height));
}

.hr {
    border: none;
    border-top: 2px solid #3498db;
    margin: 20px auto;
    width: 50%;
  }

.team h1 {
  font-weight: bold;
  margin: 0;
  font-size: 46px;
  color: white;

}

.team p {
  font-size: 24px;
  color: #3498db; 
}
