.loadingspinner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-size: 24px;
    color: #007bff; /* Change the color as per your preference */
  }