.teams {
    text-align: center;
    color: #fff;
    padding: 20px;
    margin-top: 105px;
    margin-bottom: auto;
    min-height: 79vh;
  }
  
  .header h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
  }
  
  .hr {
    border: none;
    border-top: 2px solid #3498db;
    margin: 20px auto;
    width: 50%;
  }

  .header input[type="text"] {
    width: 60%;
    padding: 10px;
    font-size: 18px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    color: #333;
  }
  
  .teamList {
    width: 75%;
    align-items: center;
    justify-content: center;
    justify-self: center;
    text-align: center;
    line-height: 25px;
    border-collapse: collapse;
    margin: auto;
  }
  
  .teamList th {
    background-color: #214eca;
    color: #fff;
    font-size: 18px;
    text-align: left;
    cursor: pointer;
    padding: 10px;
    padding-left: 35px;
  }
  
  .teamList th::after {
    content: "";
    display: inline-block;
    margin-left: 5px;
    width: 0;
    height: 0;
  }
  
  .teamList td {
    border: 1px solid #444;
    padding: 10px;
    font-size: 16px;
    padding-left: 35px;
  }
  
  .teamList tr:nth-child(odd) {
    background-color: #222;
  }
  
  .teamList tr:nth-child(even) {
    background-color: #2f2f2f;
  }
  
  .teamItem {
    text-align: left;
  }
  
  .teamLink {
    color: #3489db;
    text-decoration: none;
    font-weight: bold;
  }
  
  .teamLink:hover {
    text-decoration: underline;
  }
  