.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    min-height: calc( 100vh - var(--footer-height) - var(--header-height));
}

.login p{
    text-align: right;
    margin-left: 200px;
}

.formGroup {
    margin-bottom: 10px;
}

.formGroup label {
    display: block;
    font-weight: bold;
}

.formGroup input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 10px;
}

.login button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login button:hover {
    background-color: #0056b3;
}
