.heading {
	/* padding: 20px; */
	text-align: center;
	font-size: 40px;
	margin: 0 0 20px 0;
}

.subheading {
	padding: 25px 20px;
	font-size: 25px;
	/* margin-bottom: 15px; */
}

.questions {
	background-color: #0c0000;
	padding: 4rem;
	min-height: calc( 100vh - var(--footer-height) - var(--header-height));
}

.backButton {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	color: #fff;
	transition: color 0.3s;
	margin-bottom: 3rem;
}

.backButton:hover {
	color: #e50914;
}