.heading {
	/* padding: 20px; */
	font-size: 40px;
	font-family: "MarioFont";
	color: #ffd022;
	text-shadow: 4px 4px black;

	margin-top: 40px;
}

.subheading {
	padding: 25px 20px;
	font-size: 25px;
	font-family: "MarioFont";
	color: white;
	margin-top: 30px;
	text-shadow: 4px 4px black;
	/* margin-bottom: 15px; */
}

.questions {
	color: black;
	padding: 20px;
	margin: 0px 50px;
	min-height: calc(100vh - var(--footer-height) - var(--header-height));
}
