.heading {
	/* padding: 20px; */
	font-size: 40px;
}

.subheading {
	padding: 25px 20px;
	font-size: 25px;
	/* margin-bottom: 15px; */
}

.questions {
	background-color: #040110;
	padding: 20px;
	margin: 0px 50px;
	min-height: calc( 100vh - var(--footer-height) - var(--header-height));
}