.card {
    padding: 20px;
    box-shadow: #ffffff44 0px 0px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow 200ms;

    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: #ffffff55 0px 0px 6px;
}

.card h2 {
    font-size: 25px;
    margin-bottom: 5px;
    text-align: center;
}

.card p {
    font-size: 14px;
    color: #777777;
    text-align: center;
    margin-bottom: 30px;
}

.card .points {
    font-size: 18px;
    font-weight: 900;
    text-align: right;
    margin-top: 20px;
    color: #3489db;
}

.card .points.answered {
    color: rgb(57, 166, 57);
}